# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/
.venv/

# Environment / secrets
.env
*.env
env.conf

# Logs
*.log
logs/

# RAG / Vector data
data/
vectors/
*.faiss
*.pkl

# OS
.DS_Store

# Editor
.vscode/
.idea/
